@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --my-color: rgb(123, 58, 228);
  --swiper-theme-color: rgb(123, 58, 228);
  color-scheme: dark light;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 43, 28, 69;
    --background-end-rgb: 43, 28, 69;
    --my-color: rgb(83, 51, 135);
    --other-color: #75bf36;
    --my-dark: #2c1b47;
    --swiper-theme-color: rgb(123, 58, 228);
  }
}

* {
  cursor: none;
}

html {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
}

/* Highlighter.module.css */
.highlighter {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--my-color);
  opacity: 0.5;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  will-change: transform;
}

/* Custom Scroll Bar */
::-webkit-scrollbar-track {
  background-color: #ffffff;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #f1f1f1;
}

.image-container {
  position: relative;
  width: 100%;
  height: 100%;
  -webkit-clip-path: polygon(20% 0, 100% 20%, 70% 100%, 0 85%);
  clip-path: polygon(20% 0, 100% 20%, 70% 100%, 0 85%);
  contain: layout style paint;
}

.typing-master {
  border-right: solid 5px;
  white-space: nowrap;
  overflow: hidden;
  animation: animated-text 3s linear 1s 1 normal both,
    animated-cursor 600ms linear infinite;
}

.cursor-follower {
  position: fixed;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: rgba(144, 70, 254, 0.6);
  opacity: 0;
  z-index: 10000;
  user-select: none;
  pointer-events: none;
  will-change: transform;
}

.hideScrollBar {
  scrollbar-width: none !important;
  -ms-overflow-style: none !important;
}

.hideScrollBar::-webkit-scrollbar {
  display: none !important;
}

.circle {
  position: relative;
  aspect-ratio: 1;
}

.letter {
  position: absolute;
  top: 0;
  left: 50%;
  /* color: #75bf36; */
  /* color: #e91e27; */
  color: var(--gray-9);
}

/* project card flip */
.card-flip {
  perspective: 1000px;
}

.car-flip-inner {
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.front,
.back {
  backface-visibility: hidden;
  position: relative;
}

.back {
  transform: rotateY(180deg);
}

.rt-BaseDialogScroll * {
  cursor: auto;
}
@media screen and (min-width: 720px) {
  .image-container {
    position: relative;
    width: 100%;
    height: 100%;
    -webkit-clip-path: polygon(31% 0, 100% 25%, 61% 100%, 0 93%);
    clip-path: polygon(31% 0, 100% 25%, 61% 100%, 0 93%);
  }
}
